<!doctype html>
<html lang="cs">
  {% include 'partials/_head.html' %}
  <body>
    <div class="city-stage">
      {% include 'partials/_canvas_stage.html' %}

      <div class="ui-layer">
        {% include 'partials/_top_bar.html' %}
      </div>

      {% include 'partials/_task_detail.html' %}
      {% include 'partials/_city_info.html' %}
      {% include 'partials/_hq_panel.html' %}
      {% include 'partials/_lab_panel.html' %}
      {% include 'partials/_workshop_panel.html' %}
      {% include 'partials/_market_panel.html' %}
      {% include 'partials/_timetable.html' %}
    </div>

    {% include 'partials/_task_bar.html' %}
    {% include 'partials/_footer.html' %}
    {% include 'partials/_teleport_overlay.html' %}
    {% include 'partials/_level_up_overlay.html' %}
    {% include 'partials/_story_overlay.html' %}
    {% include 'partials/_travel_overlay.html' %}
    {% include 'partials/_world_map_overlay.html' %}
    {% include 'partials/_scripts.html' %}
  </body>
</html>
